<h1>修改書籍</h1>

<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_with(model: @book, url: admin_book_path(@book)) do |form| %>
  <div>
    <%= form.label :title, "書名" %>
    <%= form.text_field :title, autocomplete: :off %>
  </div>
  <div>
    <%= form.label :discription, "書詳細資訊" %>
    <%= form.text_area :discription %>
  </div>
  <div>
    <%= form.label :price, "售價" %>
    <%= form.number_field :price %>
  </div>
  <%= form.submit %>
<% end %>