<nav class="navbar">
  <div class="flex items-center">
    <%= link_to 'Bookstore', root_path, class: "logo" %>
    <% if policy(:book).new? %>
      <%= link_to '進入後台', admin_books_path, class: "nav-button" %>
    <% end %>
    <% if current_user && current_user.orders.find_by(status: 'pended') %>
      <%= link_to '我的訂單', orders_path, class:"my-order" %>
    <% end %>
  </div>
  <% if current_user %>
    <div>
    <%= link_to('登出', destroy_user_session_path, :method => :delete, class: "nav-button") %> 
    </div>
  <% else %>
    <div>
    <%= link_to('註冊', new_registration_path(:user), class: "nav-button") %> 
    <%= link_to('登入', new_session_path(:user), class: "nav-button") %>
    </div>
  <% end %>
</nav>