<h1>我的訂單</h1>
<section data-controller="order" >
  <table>
  <tr>
    <td>書名</td>
    <td>價錢</td>
  </tr>
  <% @books.each do |book| %>
  <tr class="book_order">
    <td><%= book.title %></td>
    <td><%= book.price %></td>
    <td><button data-action="click->order#remove_to_cart" data-book-id="<%= book.id %>" data-order-id="<%= @order.id %>" data-book-price="<%= book.price %>">移除訂單</button></td> 
  </tr>
  <% end %>
  </table>
<%= link_to '繼續選購', root_path %>
<% @coupons.each do |coupon| %>
  <p><%= coupon.title %></p>
<% end %>
<h2 data-order-target="totel">總計：＄<%= @amount %>元</h2>

<%= form_with(url:"https://ccore.newebpay.com/MPG/mpg_gateway", method: :post) do |form| %>
  <%= form.hidden_field :MerchantID , value: @form_info[:MerchantID] %>
  <%= form.hidden_field :TradeInfo , value: @form_info[:TradeInfo] %>
  <%= form.hidden_field :TradeSha , value: @form_info[:TradeSha]%>
  <%= form.hidden_field :Version , value: @form_info[:Version] %>
  <%= form.submit "結帳囉～～～～～～～" %>
<% end %>
</section>
