
  <table>
  <tr>
    <td>折價名稱</td>
    <td>折扣方法</td>
    <td>可使用張數</td>
    <td>開啟時間</td>
    <td>關閉時間</td>
  </tr>
  <% coupon.each do |coupon| %>
  <tr>
    <td><%= coupon.title %></td>
    <td><%= coupon.discount_method %></td>
    <td><%= coupon.piece %></td>
    <td><%= coupon.start_date %></td>
    <td><%= coupon.expiry_date %></td>
  </tr>
  <% end %>
  </table>
  
